@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
.my_account{
    font-family:Roboto;
    font-size: 25px;
}
.main{
    display: block;
    width: 60%;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    font-family: 'Roboto';
    overflow-x: hidden;
}
.main1{
    font-size: 35px;
    margin-bottom: 25px;
}
.login {
    width: 25%;
    background-color:  rgb(247,167,217);
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }
  
.login:hover {
    background-color:rgb(91, 4, 67);
  }

#user {
    width: 25%;
    padding: 12px 20px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
  }
  
  #pass{
    width: 25%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  span{
    color:red;
  }
  .psw{
    font-size: 16px;
    color: black;
  }
  .error_div{
    width: 300px;
    padding: 10px 50px;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 10px;
   left: calc(50% - 150px);
    text-align: center;
      /* border-radius: 0 0 15px 15px;
      animation: izlazak 2s;
      animation-delay: 5s;
      animation-fill-mode: forwards; */
  }