@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
.shop{
    font-family: 'Roboto'; 
    display: flex;
    flex-direction: row;
    height: 550px;
  
}
.shop1{
    font-family: 'Roboto'; 
    display: flex;
    flex-direction: row;
    height: 550px;
    margin-left: 30px;
}

.produce1{
    height: 550px;
    width: 32%;
    font-size: 25px;
}

.basket1{
    font-size: 45px;
    color: black;
}
.basket1 :hover{
    font-size: 75px;  
background-color: rgb(247,167,217);
}
.produce2{
    height: 500px;
    width: 32%;
    font-size: 25px;

}
.among{
    height: 500px;
    width: 19%;
}
.produce3{
    height: 400px;
    width: 32%;
   font-size: 25px;
}
.produce4{
    height: 400px;
    width: 32%;
    font-size: 25px;
}


.heart{
    width: 400px;
    height: 400px;
    font-size: 30px;
}
.magnetic_wand{
    width: 400px;
    height: 400px;
    font-size: 30px;
}
.magnetn1{
    width: 400px;
    height: 400px;
    font-size: 30px;
}
.magnetn2{
    width: 400px;
    height: 400px;
    font-size: 30px;
}

